<?xml version="1.0"?>
<configuration>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v2.0.50727" sku="Client"/>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <runtime>
    <NetFx40_LegacySecurityPolicy enabled="true"/>
  </runtime>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
      <proxy usesystemdefault="True" bypassonlocal="True"/>
    </defaultProxy>
  </system.net>
</configuration>